@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;padding: 0;
     font-family: "Kanit", sans-serif;
}

.login-box{
    width:400px;
}

/*****main******/
.main{
    display: flex;
    height: 100vh;
}
.sidebar{
    -border: 1px solid red;
    width: 270px;
    padding: 20px;
    box-shadow: 0 2px 5px #ddd;
    background-color: #000;
    transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar.full{
    margin-left: -270px;
}
.content.full{
    margin-left: 0;
}
.sidebar .nav-item .nav-link{
    color: #fff;
}
.content{
    -border: 1px solid blue;
    width: calc(100% - 270px);
    flex-grow: 1;
    margin-left: 270px;transition: .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.inner-content{
    -border: 1px solid red;
    height: calc(100% - 76px);
    padding: 25px;
}
.table-list-view table th{
    background-color: #f0f0f0;
    padding-block: 15px;
    padding-inline: 10px;
}

.table-list-view table td{
    color: grey;
    padding-block: 15px;padding-inline: 10px;
}

.table-list-view table th:last-child,
.table-list-view table td:last-child{
    -border: 1px solid red;
    text-align: right;
    
}






.card {

}

.card h3 {
  color: #0d6efd;
  font-weight: bold;
}

.form-label {
  font-weight: 500;
}

.btn-primary {

  font-weight: 500;
}



/* Dropdown menu */
.sidebar .dropdown-menu {
  background: #f8f9fa;    
  border: none;            
  box-shadow: none;        
  margin-left: 15px;       
  padding: 0;
}

.sidebar .dropdown-item {
  font-size: 14px;
  padding: 8px 15px;
  color: #555;
}

.sidebar .dropdown-item:hover {
  background: #dee2e6;     
  border-radius: 5px;
  color: #000;
}



.pagination {
      justify-content: flex-end;
      margin: 15px 0;
    }
    .pagination button {
      margin: 2px;
      padding: 5px 10px;
      border: 1px solid #007bff;
      background: #f8f9fa;
      cursor: pointer;
      border-radius: 4px;
    }
    .pagination button.active {
      background: #007bff;
      color: #fff;
    }